body {
  background-position-x: right;
  background-repeat: no-repeat;
}
.dark-theme body {
  background-image: url(output/img/dark_bg.jpg);
  background-attachment: fixed;
}
.light-theme body {
  background-image: url(output/img/light_bg.jpg);
  background-attachment: fixed;
}

body {
  @apply bg-page-background text-text;
}
