@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply h-auto px-6 py-3 rounded-full flex items-center gap-2 justify-center min-w-[3.25rem] min-h-[3.25rem];
  }
  .btn-primary {
    @apply text-system-white bg-button-default hover:bg-button-hover active:bg-button-active focus-visible:outline-system-focus focus-visible:border-solid focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
  }
  .btn-secondary {
    @apply text-button-secondary-label-default hover:text-button-secondary-hover border-2 border-button-secondary-default hover:border-button-secondary-hover active:border-button-secondary-active active:text-button-secondary-active focus-visible:outline-system-focus focus-visible:border-solid focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
  }
  .btn-link {
    @apply mb-4 font-bold text-sm rounded-sm flex items-center gap-1 text-button-link hover:text-button-link-hover active:text-button-link-active focus-visible:outline-system-focus focus-visible:border-solid focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
  }
  /* there is inputs with usual inputs and inputs with buttons */
  .input-single {
    @apply w-full px-6 h-[3.25rem] relative rounded-full border-solid border-2 border-system-primary focus-visible:outline-system-focus  focus-visible:border-solid focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 text-primary-900;
  }
  /* next two are for positioning the button into input */
  .input-w-button {
    @apply flex relative items-center;
  }
  .input-w-button .btn {
    @apply absolute right-0;
  }
}

html {
  scroll-behavior: smooth;
}

/* only for designsystem demo */

pre[class*='language-'] {
  margin: 0 !important;
}
/* if we want to wrap code element text */
code {
  white-space: pre-wrap !important; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap !important; /* Opera 4-6 */
  white-space: -o-pre-wrap !important; /* Opera 7 */
  word-wrap: break-word !important;
}
