@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@700;800&display=swap');
@import 'output/global.css';

::-webkit-input-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
::-ms-input-placeholder {
  font-style: italic;
}
::placeholder {
  font-style: italic;
}

section {
  margin-bottom: var(--article-bottom);
}
body {
  line-height: var(--line-height-body);
  margin: var(--body-spacing);
}
h1 {
  line-height: var(--h1-line-height);
  margin-top: var(--h1-spacing-top);
  margin-bottom: var(--h1-spacing-bottom);
}
h2 {
  line-height: var(--h2-line-height);
  margin-top: var(--h2-spacing-top);
  margin-bottom: var(--h2-spacing-bottom);
}
h3 {
  line-height: var(--h3-line-height);
  margin-top: var(--h3-spacing-top);
  margin-bottom: var(--h3-spacing-bottom);
}
h4 {
  line-height: var(--h4-line-height);
  margin-top: var(--h4-spacing-top);
  margin-bottom: var(--h4-spacing-bottom);
}
h5 {
  line-height: var(--h5-line-height);
  margin-top: var(--h5-spacing-top);
  margin-bottom: var(--h5-spacing-bottom);
}
h6 {
  line-height: var(--h6-line-height);
  margin-top: var(--h6-spacing-top);
  margin-bottom: var(--h6-spacing-bottom);
}
p {
  margin-bottom: var(--body-paragraph-spacing);
  line-height: var(--body-line-height);
}

/* @layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
} */
