.dark-theme {
  --text: #f1f2f4;
  --link: #f1f2f4;
  --link-idle: #7b8593;
  --link-active: #664d80;
  --drop-shadow: [object Object];
  --drop-shadow-strong: [object Object];
  --link-hover: #c7cbd1;
  --page-background: #050208;
  --button-default: #80609f;
  --button-hover: #664d80;
  --button-active: #4d2e6b;
  --button-focus: #80609f;
  --button-disabled: #abb1ba;
  --button-secondary-default: #b39fc6;
  --button-secondary-label-default: #f1f2f4;
  --button-secondary-hover: #9980b3;
  --button-secondary-active: #80609f;
  --button-secondary-focus: #b39fc6;
  --button-secondary-disabled: #e3e5e8;
  --button-link: #e6dfec;
  --button-link-hover: #ccbfd9;
  --button-link-active: #b39fc6;
  --table-cell: #050208;
  --table-header-cell: #4d2e6b;
  --table-hover-cell: #331a4d;
  --card-background: linear-gradient(35deg, #0d0811 0%, #553b6c30 100%);
  --menu-card-background: linear-gradient(0deg, #291A37 0%, #291B37 11%, #3E314A 100%);
  --menu-card-stroke: linear-gradient(180deg, #f2f8fd29 0%, #f2fcfd00 100%);
  --card-stroke: #331a4d;
  --card-hover-shadow: [object Object];
  --stroke: #4d2e6b;
  --radio-shadow-hover: [object Object];
  --radio-shadow: [object Object];
}