:root {
  --root-font-family: Montserrat;
  --big-headlines-font-family: Roboto Serif;
  --font-scale-multiplyer: 1.25;
  --text-base: 18;
  --text-lg: 22.5;
  --text-xl: 28.125;
  --text-2xl: 35.156;
  --text-3xl: 43.945;
  --text-4xl: 54.931;
  --text-5xl: 68.664;
  --text-6xl: 85.83;
  --text-7xl: 107.287;
  --text-sm: 14.4;
  --text-xs: 11.52;
  --h1: [object Object];
  --h2: [object Object];
  --h3: [object Object];
  --h4: [object Object];
  --display-sub-sans: [object Object];
  --h5: [object Object];
  --h6: [object Object];
  --image-caption: [object Object];
  --body: [object Object];
  --body-sm: [object Object];
  --body-xs: [object Object];
  --display-big: [object Object];
  --display-sub-serif: [object Object];
  --display-medium: [object Object];
  --display-small: [object Object];
  --montserrat: Montserrat;
  --roboto: Roboto;
  --sora: Sora;
  --roboto-serif: Roboto Serif;
  --primary-100: #f2eff5;
  --primary-200: #e6dfec;
  --primary-300: #ccbfd9;
  --primary-400: #b39fc6;
  --primary-500: #9980b3;
  --primary-600: #80609f;
  --primary-700: #664d80;
  --primary-800: #4d2e6b;
  --primary-900: #331a4d;
  --primary-1000: #050208;
  --primary-hue: 270;
  --leading: [object Object];
  --lead: [object Object];
  --neutral-100: #f1f2f4;
  --neutral-200: #e3e5e8;
  --neutral-300: #c7cbd1;
  --neutral-400: #abb1ba;
  --neutral-500: #8f97a3;
  --neutral-600: #7b8593;
  --neutral-700: #5c6470;
  --neutral-800: #414a58;
  --neutral-900: #2b313b;
  --neutral-1000: #16191d;
  --neutral-hue: 216;
  --system-red-tlu: #b71234;
  --system-black: #000000;
  --system-white: #ffffff;
  --system-focus: #EB6424;
  --system-primary: #80609f;
  --system-primary-revert: #9F8060;
  --article-bottom: 1rem;
  --article-section-bottom: 1rem;
  --body-line-height: 175%;
  --h1-line-height: 125%;
  --h2-line-height: 125%;
  --h3-line-height: 130%;
  --h4-line-height: 135%;
  --h5-line-height: 140%;
  --h6-line-height: 150%;
  --body-paragraph-spacing: 1.75rem;
  --h1-spacing-top: 1.25rem;
  --h1-spacing-bottom: 0.5rem;
  --h2-spacing-top: 1.25rem;
  --h2-spacing-bottom: 0.5rem;
  --h3-spacing-top: 1.3rem;
  --h3-spacing-bottom: 0.5rem;
  --h4-spacing-top: 1.35rem;
  --h4-spacing-bottom: 0.5rem;
  --h5-spacing-top: 1.4rem;
  --h5-spacing-bottom: 0.25rem;
  --h6-spacing-top: 1.5rem;
  --h6-spacing-bottom: 0.2rem;
  --body-spacing: 0.5rem;
  --article-image-spacing: 3rem;
  --image-block-gap: 1rem;
  --card-border-radius: 0.5rem;
  --card-border-width: 2;
  --primary-revert-100: #E2D9CF;
  --body-sm-line-height: 125%;
  --body-xs-line-height: 125%;
}