.light-theme {
  --active-menu-stroke-on: linear-gradient(204deg, #f2f8fd29 0%, #f2fcfd00 100%);
  --text: #414a58;
  --link: #2b313b;
  --link-idle: #5c6470;
  --link-action: #80609f;
  --card-background: linear-gradient(194deg, #a57e43 0%, #4f4536 100%);
  --menu-item-background: linear-gradient(194deg, #5d4e39 0%, #a57e43 100%);
  --menu-background: linear-gradient(232deg, #9e7942 0%, #645b4e 100%);
  --menu-background-stroke: #dad7d38c;
  --menu-item-background-stroke: linear-gradient(204deg, #f2f8fd29 0%, #f2fcfd00 100%);
  --link-active: #4d2e6b;
  --link-hover: #80609f;
  --page-background: #FAFCFF;
  --button-default: #80609f;
  --button-hover: #664d80;
  --button-active: #4d2e6b;
  --button-focus: #80609f;
  --button-disabled: #abb1ba;
  --button-secondary-default: #80609f;
  --button-secondary-label-default: #414a58;
  --button-secondary-hover: #664d80;
  --button-secondary-active: #4d2e6b;
  --button-secondary-focus: #80609f;
  --button-secondary-disabled: #abb1ba;
  --button-link: #4d2e6b;
  --button-link-hover: #664d80;
  --button-link-active: #80609f;
  --table-cell: #FAFCFF;
  --table-header-cell: #e6dfec;
  --table-hover-cell: #f2eff5;
  --card-stroke: #80609f;
  --card-hover-shadow: [object Object];
  --stroke: #E2D9CF;
  --drop-shadow: [object Object];
  --radio-shadow: [object Object];
  --radio-shadow-hover: [object Object];
}